[submodule "react/react-use-analysis"]
	path = react/react-use-analysis
	url = ./
[submodule "性能监控/web-see-demo"]
	path = 性能监控/web-see-demo
	url = https://github.com/xy-sea/web-see-demo.git
[submodule "next/testplatform"]
	path = next/testplatform
	url = ./
[submodule "next/My-Portflio"]
	path = next/My-Portflio
	url = ./
